<h2>Edit: <%= @item.name %> &nbsp
  <form style="display:inline-block;" action="/items/<%=@item.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form></h2>

<form action="/items/<%= @item.id %>" method="POST">
  <p>Item Name: <input type="text" name="name" value="<%= @item.name %>"></p>

  <label> Cabinet: </label>
  <select name="cabinet name">
    <% @user.cabinets.each do |cabinet| %>
      <% if cabinet.id == @item.cabinet_id %>
        <option selected="selected"><%=cabinet.name%></option>
      <% else %>
        <option><%=cabinet.name%></option>
      <% end %>
    <% end %>
  </select>

  <br></br>
  <p><input type="submit" value="Update Item"> </p>
</form>
