<h2>Your Items:</h2>

<% @user.items.each do |item| %>
  <h3><%= item.name %></h3>
  <p>Category: <%= item.category %></p>
  <p>Cabinet:
    <%if item.cabinet%>
      <%= item.cabinet.name %>
    <% end %></p>

  <p><a href="/items/<%=item.id%>/edit"><input type="button" value="Edit"></a></p>

  <p><form action="/items/<%=item.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form></p>
<% end  %>

<p><a href="items/new"><input type="button" value="Add Item"></a></p>
