<h2><%= @item.name %></h2>
<p><b>Category:</b> <%= @item.category %></p>
<p><b>Cabinet:</b> <%= @item.cabinet.name %></p>

<p><a href="/items/<%= @item.id %>/edit"><input type="button" value="Edit"></a></p>

<form action="/items/<%=@item.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Item">
</form>
