<h2>Your Kitchen
  <span style="font-size:15px; color:#b8b8b8; font-weight:normal">
    <i><%=@user.cabinets.count%>
      <% if @user.cabinets.count == 1 %>
        cabinet,
      <% else %>
        cabinets,
      <% end %>
      <%=@user.items.count%>
      <% if @user.items.count == 1 %>
        item
      <% else %>
        items
      <% end %>
    </i>
  </span>
</h2>

<% @user.cabinets.each do |cabinet| %>
  <a href="/cabinets/<%=cabinet.id%>"><h3><%=cabinet.name %></h3></a>
  <p style="color:#b8b8b8">Capacity:
    <% if cabinet.items.count > 0 %>
      <%= cabinet.items.count %>/<%= cabinet.capacity %></p>
    <% else %>
      Empty
    <% end %>
  <hr>
<% end  %>

<p style="margin-top: 20px"><a href="/cabinets/new"><input type="button" value="Add Cabinet"></a></p>
