<h2>Your Cabinets <a href="/cabinets/new"><input type="button" value="Add Cabinet"></a></h2>

<% @user.cabinets.each do |cabinet| %>
  <a href="/cabinets/<%=cabinet.id%>"><h3><%=cabinet.name %></h3></a>
  <p style="color:#b8b8b8">Capacity:
    <% if cabinet.items.count > 0 %>
      <%= cabinet.items.count %>/<%= cabinet.capacity %></p>
    <% else %>
      Empty
    <% end %>

  <hr>
<% end  %>

<p style="margin-bottom:-5px;margin-top:20px;"><i><%=@user.cabinets.count%> cabinets, <%=@user.items.count%> items</i></p>
