<h2>Your Cabinets <a href="/cabinets/new"><input type="button" value="Add Cabinet"></a></h2>

<% @user.cabinets.each do |cabinet| %>
  <a href="/cabinets/<%=cabinet.id%>"><h3><%=cabinet.name %></h3></a>
  <p style="color:#b8b8b8">Capacity:
    <% if cabinet.items.count > 0 %>
      <%= cabinet.items.count %>/<%= cabinet.capacity %>
    <% else %>
      Empty
    <% end %>
  </p>

  <label style="color: #444444"><b>Items:</b></label>
    <ul>
    <% cabinet.items.each_with_index do |item, index| %>
      <li style="color: #444444"><%= index + 1 %>. <%= item.name %></li>
    <% end %>
    </ul>
    <br>

    <hr>
<% end  %>

<p style="margin-bottom:-5px;margin-top:20px;"><i><%=@user.cabinets.count%> cabinets, <%=@user.items.count%> items</i></p>
